@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

input {
    outline: none;
}

/* HOME */
.home, .home-body {
    height: 100%;
    margin: 0;
}

.home-body {
    display: flex;
}

.tabs-home {
    height: 100%;
    width: 30%;
    background-color: #8DBBFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tabs-home .box-imagem {
    display: flex;
    justify-content: center;
}

.tabs-home .box-imagem .logo-home {
    width: 128px;
    height: 156px;
    margin: 35px 10px 35px 0;
    border-radius: 16px;
    z-index: 1;
}

.tabs-home .box-imagem .fundo-logo {
    background-color: #fff;
    margin: 20px 10px 30px 0;
    padding: 100px;
    position: absolute;
    border-radius: 50%;
}

.tabs-home .navbar {
    height: 100%;
    margin-top: 4em;
}

.tabs-home li {
    width: 97%;
    background-color: #fff;
    text-align: center;
    margin: 0 0 5px 5px;
    padding: 12px;
    font-weight: bold;
}

.tabs-home a {
    color: black;
    text-decoration: none;
}

.tabs-home li:hover {
    background-color: rgb(221, 220, 220);
}

.tabs-home div.atual {
    background-color: black;
    width: 5px;
    height: 42.67px;
    position: absolute;
    margin-left: 5px;
}

.tabs-home .user {
    margin: 0 0 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabs-home .user .user-image {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    background-color: #fff;
}

.tabs-home .user p {
    margin-left: 1em;
    margin-right: 1em;
    font-weight: bold;
}

.section-home {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 3em;
}

.section-home .form-cadastro-funcionario {
    margin-top: 8em;
    height: 100%;
    width: 100%;
    padding: 0 10em 0 10em;
}

.section-home .form-cadastro-funcionario label {
    display: block;
}

.section-home .form-cadastro-funcionario .inputs-grande{
    margin-bottom: 12px;
}

.section-home .form-cadastro-funcionario .inputs-grande input,
.section-home .form-cadastro-funcionario .inputs-medio .input-medio input
{
    border: none;
    height: 35px;
    border-radius: 10px;
    padding-left: 10px;
    background-color: #D9D9D9;
}

.section-home .form-cadastro-funcionario .inputs-grande input {
    width: 100%;
}

.section-home .form-cadastro-funcionario .inputs-medio {
    width: 100%;
    display: flex;
    margin-bottom: 14px;
}

.section-home .form-cadastro-funcionario .inputs-medio .input-medio {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.section-home .form-cadastro-funcionario .inputs-medio .input-medio .input-esquerdo {
    width: 90%;
}

.section-home .form-cadastro-funcionario .inputs-medio .input-medio .input-direito {
    width: 100%;
}

.section-home .form-cadastro-funcionario .inputs-medio .input-medio a {
    width: 100%;
    border: none;
    height: 80%;
    border-radius: 12px;
    background-color: #46f41b;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    padding-top: 12px;
}

.section-home .form-cadastro-funcionario .inputs-medio .input-medio a:hover {
    background-color: #6fff4a;
    transform: scale(1.05);
    transition: 0.4s;
}
