* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.pagina {
    height: fit-content;
    display: flex;
}

section {   
    margin: 0 auto;   
    padding: 20px;
    height: fit-content;
    width: 75%;
}

form {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 40px;
}

h1 {
    margin: 25px 0 75px 0;
    text-align: center;
}

h2 {
    margin: 10px 0;
}

.orcamento-meta {
    grid-column: 1 / 3;
    display: flex;
    justify-content: space-between;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

.ids {
    display: flex;
    gap: 10px;
}

.ids input {
    flex: none;
    max-width: 150px;
}

.data-atual {
    padding: 5px;
    width: 150px;
    height: 1.5rem;
    background-color: #D9D9D9;
    border-radius: 20px;
    border: none;
}


input[type="text"], input[type="email"], input[type="number"] {
    padding: 0 10px;
    height: 1.5rem;
    width: 100%;
    background-color: #D9D9D9;
    border-radius: 5px;
    border: none;
    outline: none;
    border-radius: 20px;
}

.informacoes {
    grid-column: 1 / 3;
    height: 250px;
    width: 100%;
    text-align: center;
    padding-bottom: 50px;

    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 10px;
}

.informacoes h2 {
    text-align: start;
    grid-column: 1 / 3;
}

.campo {
    text-align: start;
    display: flex;
    flex-direction: column;
}

.informacoes input[type="text"]{
    height: 1.5rem;
    width: 100%;
    display:inline-block;
}

.contato-cliente {
    display: flex;
    gap: 10px;
}

.contato-cliente #email {
    width: 250px;
}

.contato-cliente #whatsapp {
    width: 160px;
}

.servico {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

textarea {
    overflow: auto;
    padding: 15px;
    height: 150px;
    width: 100%;
    background-color: #D9D9D9;
    font-size: 1.1rem;
    border: none;
    border-radius: 20px;
    outline: none;
    resize: none;
}

.itens {
    grid-column: 1 / 3;
    width: 100%;
    margin: auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.linha-itens {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr 6fr 1fr 1fr;
    gap: 5px;
}

div > button {
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-color: #D9D9D9;
    font-size: 1.7rem;
    font-weight: bolder;
    color: gray;
    border: none;
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.valor-total-itens input {
    padding-left: 15px;
    height: 2.1rem;
    font-size: 2rem;
    color: inherit;
}

input:read-only {
    cursor: default;
    color: inherit;
}

.adicionar-campos {
    display: flex;
    align-items: center;
    gap: 5px;
}

.adicionar-campos > label {
    margin-top: 4px;
    cursor: pointer;
}

.mao-de-obra {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.linha-mo {
    display: grid;
    grid-template-columns: 2fr repeat(5, 1.1fr);
    gap: 5px;
}

.taxas {
    grid-row: 5 / 7;
    grid-column: 2 / 3;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.linha-taxa {
    display: grid;
    grid-template-columns: 3fr 1fr 2fr;
    gap: 5px;
}

.taxas p, .taxas input {
    height: 2rem;
    text-align: center;
    background-color: #D9D9D9;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.desconto p, #desconto-valor {
    background-color: lightcoral;
}

#taxa-desconto {
    background-color: #ffffff;
    border: 2px solid #000000;
}

.linha-prof {
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 2fr;
    gap: 5px;
}

.pagamento {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.banco {
    display: flex;
    gap: 10px;
}

.campo2 {
    display: flex;
    align-items: center;
    gap: 5px;
}

.valor-total h2 {
    text-align: center;
}

.valor-total > p {
    text-align: center;
    font-size: 1.5rem;
    background-color: #D9D9D9;
    border-radius: 20px;
}

#submit {
    grid-column: 1 / 3;
    cursor: pointer;
    width: 304px;
    height: 53px;
    margin:0 auto;
    background-color: #C4FFA8;
    border-radius: 25px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

#submit:active {
    background-color: green;
  }

/* Side-Bar */
.tabs-home {
    width: 20%;
    background-color: #8DBBFF;
}

.menu {
    position: fixed;
    will-change: transform;
    min-height: 100vh;
    width: 20%;
    background-color: #8DBBFF;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tabs-home .box-imagem {
    display: flex;
    justify-content: center;
}

.tabs-home .box-imagem .logo-home {
    width: 128px;
    height: 156px;
    margin: 35px 10px 35px 0;
    border-radius: 16px;
    z-index: 1;
}

.tabs-home .box-imagem .fundo-logo {
    background-color: #fff;
    margin: 20px 10px 30px 0;
    padding: 100px;
    position: absolute;
    border-radius: 50%;
}

.tabs-home .navbar {
    height: 100%;
    margin-top: 4em;
}

.tabs-home li {
    width: 97%;
    background-color: #fff;
    text-align: center;
    margin: 0 0 5px 5px;
    padding: 12px;
    font-weight: bold;
}

.tabs-home a {
    color: black;
    text-decoration: none;
}

.tabs-home li:hover {
    background-color: rgb(221, 220, 220);
}

.tabs-home div.atual {
    background-color: black;
    width: 5px;
    height: 42.67px;
    position: absolute;
    margin-left: 5px;
}

.tabs-home .user {
    margin: 0 0 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabs-home .user .user-image {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    background-color: #fff;
}

.tabs-home .user p {
    margin-left: 1em;
    margin-right: 1em;
    font-weight: bold;
}

/* Fim Side-Bar */