* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

input {
    outline: none;
}

/* LOGIN */
.fundo-login {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(-30deg, #003EC3 0%, #003EC3 50%, #fefefe 50%, #fefefe 100%);
    animation: TrocaCor 12s linear infinite;
    display: flex;
    flex-direction: column;
}

.logo-login {
    width: 128px;
    height: 156px;
    margin: 35px 0 35px 0;
}

.form {
    background: #fff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    width: 380px;
    height: 320px;
    text-align: center;
}

.form .texto-login {
    margin-bottom: 20px;
    color: #48487F;
}

.form input {
    margin: 10px 0;
    padding: 12px;
    width: 100%;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 6px rgba(72, 72, 127, 0.4);
    font-size: 16px;
}
.form button {
    box-shadow: 0 0 6px 1px rgba(72, 72, 127, 0.4);
    margin: 20px 0 15px 0;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: #48487F;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.form button:hover {
    background-color: #2c2c7c;
}

.form a {
    text-decoration: none;
    color: #48487F;
}

.form a:hover {
    color: #2c2c7c;
}